TagInput.css * {
  margin: 0;
  padding: 0;
}

.tag-input-container-edit {
  display: flex;
  flex: 2;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  border: 1px solid #cccccc3d;
  border-radius: 4px;
  padding: 1px;
  background-color: #cccccc3d;
}

.tag-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e6f4e6;
  color: #000;
  border: 1px solid #6fbf73;
  border-radius: 10px;
  font-size: 24px;
  padding: -10px;
}

.tag-edit button.remove-tag-edit {
  background: none;
  border: none;
  color: #6fbf73;
  cursor: pointer;
  font-weight: lighter;
  font-size: 3rem;
  margin-right: -40px;
  margin-left: -30px;
  margin-top: -20px;
  margin-bottom: -10px;
}

.tag-input-edit {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
  min-width: 100px;
  background-color: #f3f3f3;

}

.add-button-edit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-button-edit:hover {
  background-color: #0056b3;
}