@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  font-family: "Raleway", serif;
}

.layout {
  margin: 2rem;
  display: flex;
  gap: 3rem;
}
.logo img {
  width: 150px;
}

.icons {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.iconGroup {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.iconGroup img {
  width: 22px;
}

.iconGroup span {
  font-size: 16px;
}
.sidebar p {
  font-weight: 700;
}

/* UserPage.css */

h1 {
  color: #1e1e1e;
  margin: 20px 0;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  text-align: left;
}

table th,
table td {
  padding: 12px;
  border: 1.5px solid #e0e0e033;
  font-weight: 400;
}

table th {
  background-color: #f9fafb;
  font-weight: 600;
}
