@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.analytics-dashboard-container {
  flex: 1;
  text-align: left;
  width: calc(100% - 250px);
  height: 90%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 20px;
}

.analytics-dashboard-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.chart-container {
  margin: 10px 0;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  width: 100%;
}

.line-chart-container {
  width: 40%;
  margin: 0;
}

.pie-chart-container {
  width: 12%;
  margin: 0;
}

.chart-container h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #444;
}

.custom-legend {
  margin-top: 20px;
}

.custom-legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.custom-legend-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.custom-legend-text {
  font-size: 1rem;
  color: #444;
  margin-right: 10px;
  display: inline-block;
  text-align: left;
}

.custom-legend-percentage {
  font-size: 1rem;
  color: #444;
  margin-left: auto;
}

.line-chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: 150px;
}

.styled-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  padding-right: 35px;
}

.styled-dropdown:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.styled-dropdown:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #666;
}

@media (max-width: 768px) {
  .analytics-dashboard {
    padding: 10px;
    width: 100%;
  }

  .line-chart-container,
  .pie-chart-container {
    width: 100%;
  }
}
