.profile-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    margin: auto;
}

.profile-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-modal-header {
    margin: 0 0 0;
    font-size: 16px;
}

.profmodal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: 500; 
}

.profile-modal-picture {
    position: relative;
    display: inline-block;
}

.profile-sample-pic {
    margin-top: 8%;
    width: 72px;
    height: 80px;
    border-radius: 50%;
}

.profile-edit-pic-btn {
    position: absolute;
    bottom: 5px;
    right: 13px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.update-profile-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: auto;
    max-width: 390px;
}

.user-details {
    display: flex;
    text-align: left;
    width: 100%;
}

.user-details label {
    width: 130px;
    align-self: center;
}

.user-details input {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px;
    border: 0.5px solid #E0E0E0;
    padding: 10px;
    border-radius: 8px;
    outline: 0;
    font-size: 14px;
    width: 65%;    
}

.profile-password-field {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px;
    border: 0.5px solid #E0E0E0;
    width: 71%;
}

.profile-password-field input {
    display: flex;
    padding: 10px;
    background-color: #F2F2F2;
    border: 0;
    border-radius: 8px;
    outline: 0;
    font-size: 14px;
    width: 85%;
}

.profile-password-field img {
    display: flex;
    width: 20px;
    cursor: pointer;
    padding-right: 10px;
}

.profile-submit-btn {
    margin-top: 1%;
}