@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.openModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-new-task-modal .openModal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}

.add-new-task-modal .xButton {
  display: flex;
  justify-content: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: grey;
}

.add-new-task-modal form button {
  background-color: #204e51;
  color: white;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  align-self: flex-end;
}

/* .modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
} */

.close {
  display: flex;
  justify-content: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: grey;
}

.modal-form {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.modal-form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-form label,
.modal-form h4,
h3 {
  margin: 0;
  flex: 1;
  font-weight: 500;
  font-family: "Raleway", serif;
}

.modal-form input,
.modal-form textarea,
.modal-form select,
.file-upload-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #cccccc3d;
  border-radius: 4px;
  background-color: #cccccc3d;
}

.file-button {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  background-color: #f97066;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px 7px;
  cursor: pointer;
  width: 140px;
  text-align: center;
  margin-left: 100px;
}

.file-button:hover {
  background-color: #e55d50;
}

.modal-form textarea {
  resize: vertical;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.modal-form button {
  background-color: #204e51;
  color: white;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  align-self: flex-end;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  font-family: "Raleway", serif;
}
