.edit-livestock-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.edit-back-btn {
  color: black;
}

.field-area {
  display: grid;
  grid-template-columns: 1fr 1.2fr;


}

.form-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 30px;
  gap: 30px;
}


.form-container h4 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #2c3e50;
  white-space: nowrap;
}

.form-container input,
.form-container select,
.form-container textarea {
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fdfdfd;
  transition: border-color 0.3s ease; 
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
  border-color: #5dade2;
  outline: none;
}

.buttonContainer button {
  background-color: #00796b;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
  background-color: #004d40;
}

button {
  background-color: transparent;
  border: none;
  color: #00796b;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  text-decoration: underline;
}

.livestock-upcoming-task {
  width: 30%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.livestock-upcoming-task h4 {
  margin-bottom: 15px;
  font-weight: 600;
  color: #2c3e50;
}

textarea {
  resize: none;
  height: 100px;
}