@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin:0;
    overflow: hidden;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.container{
    display: flex;
    width: 92rem;
    height: 100%; 
}

.welcome-section{
    flex: 50%;
    display: flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #C0F196;
}

.welcome-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('background.png'); 
    background-repeat: repeat;
    background-size: auto; 
    background-position:0 0;
    opacity: 0.2; 
}

.welcome-back {
    position: relative;
    z-index: 2;
    margin-top: 17%;
    color: #204E51;

}

.farmer-pic{
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    margin-top: auto;
    margin-bottom: auto;
    
}

.form-section {
    flex:50%;
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: auto;
}

.logo{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    resize: both;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo h2 {
    font-size: 28px;
    color: #204E51;
    font-weight: 700;
}

form {
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.forgot-password-email {
    display: flex;
    margin-bottom: 40px;
    gap: 20px;
    align-items: center; 
    justify-content: flex-start;
}

.forgot-password-newpassword{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 20px;
    align-items: center; 
    justify-content: flex-start;
}

.password-group {
    display: flex;
    box-sizing: border-box;
    text-align: left;
}

.password-group label{
    width: 130px;
    align-self: center;
}

form label {
    font-size: 14px;
    width: 36px;
    opacity: 0px;
    color: #1E1E1E;
}

.password-field {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px;
    border: 0.5px solid #E0E0E0;
}

.password-field input{
    display: flex;
    padding: 10px;
    background-color: #F2F2F2;
    border: 0;
    border-radius: 8px;
    outline: 0;
    font-size: 14px;
    width: 100%;
}

.forgot-password-inputClass {
    font-size: 14px;
    width: 350px;
    padding: 10px;
    background-color: #F2F2F2;
    border: 0.5px solid #E0E0E0;
    border-radius: 8px;
}

.password-field img {
    display: flex;
    width: 20px;
    cursor: pointer;
    padding-right: 10px;
}

form button {
    display: flex;
    align-self:flex-end;
    width: auto;
    height: 39px;
    padding: 0.8rem;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    background-color:#204E51;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover {
    background-color: #2a3d23;
}
  
.success-message {
color: green;
margin-top: 10px;
}

.error-message {
color: red;
margin-top: 10px;
}
  
/* .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    margin: auto;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-header {
    margin: 0 0 0;
    font-size: 16px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: 500; 
}

.profile-picture {
    position: relative;
    display: inline-block;
}

.sample-pic {
    margin-top: 8%;
    width: 72px;
    height: 80px;
    border-radius: 50%;
}

.edit-pic-btn {
    position: absolute;
    bottom: 5px;
    right: 13px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.update-profile-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: auto;
    max-width: 390px;
}

.user-details {
    display: flex;
    text-align: left;
    width: 100%;
}

.user-details label {
    width: 130px;
    align-self: center;
}

.user-details input {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px;
    border: 0.5px solid #E0E0E0;
    padding: 10px;
    border-radius: 8px;
    outline: 0;
    font-size: 14px;
    width: 65%;    
}

.profile-password-field {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px;
    border: 0.5px solid #E0E0E0;
    width: 71%;
}

.profile-password-field input {
    display: flex;
    padding: 10px;
    background-color: #F2F2F2;
    border: 0;
    border-radius: 8px;
    outline: 0;
    font-size: 14px;
    width: 85%;
}

.profile-password-field img {
    display: flex;
    width: 20px;
    cursor: pointer;
    padding-right: 10px;
}

.submit-btn {
    margin-top: 1%;
} */


@media (max-width: 768px) {
    body{
        overflow: visible;
    }
    
    .container {
        flex-direction: column; 
        gap: 10%;
    }

    .welcome-section {
        padding: 17px;
    }
} 