.homepage {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px); 
  }
  
  .left-pane {
    width: 50%; 
    background-color: #f4f4f4; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .right-content {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  
  .right-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .right-content p {
    font-size: 1.2rem;
    color: #555;
  }
  