@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  font-family: "Raleway", serif;
}

.homepage-layout {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1.5fr;
  gap: 3rem;
}
