@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  font-family: "Raleway", serif;
}

.wrapper {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
}

.container {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.right {
  display: flex;
  padding: 100px 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.formGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 10px;
  align-items: center;
}
.formGroup label {
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 400;
  width: 105px;
}

.formGroup input {
  background-color: #f2f2f280;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  outline: none;
}

form p {
  color: #204e51;
  font-weight: 500;
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
}

.formButton {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}
form button {
  background-color: #204e51;
  color: #ffffff;
  font-weight: 600;
  width: 120px;
  padding: 10px 0;
  border-radius: 5px;
}

.password-group {
 display: flex;
 gap: 30px;
 margin-top: 3%;
 justify-content: end;
 margin-bottom: 0%;
}

.password-group label {
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 400;
  width: 50px;
}

.password-group input {
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 400;
  width: 70%;  
}

.token {
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid red;
  height: 1vh;
  align-items: end;
  visibility: hidden;
}

.reset-password-button {
  display: flex;
  justify-content: end;
  margin-top: 4px;
}

.success-message {
  color: green;
  margin-top: 10px;
}
  
.error-message {
color: red;
margin-top: 10px;
}
