/* PostPage.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.post-page {
  width: 90%;
  margin: 0 2rem;
  padding: 30px; /* Increased padding for a more spacious layout */
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.post-title {
  font-size: 28px; /* Increased font size for title */
  color: #333;
  margin: 20px 0;
}

.post-author {
  font-size: 18px; /* Adjusted font size for author */
  color: #777;
}

.post-details {
  font-size: 16px; /* Adjusted font size for details */
  color: #999;
  margin-bottom: 20px;
}

.post-content {
  font-size: 18px; /* Increased font size for content */
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

.like-button,
.add-comment-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px; /* Reduced padding for smaller buttons */
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px; /* Smaller font size for buttons */
}

.like-button:hover,
.add-comment-button:hover {
  background-color: #45a049;
}

.comment-input {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comments {
  width: 1000px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}
.comments h2{
  justify-self: flex-start;
  word-wrap: break-word; 
  word-break: break-all;
}
.comment {
  padding: 20px; /* Increased spacing between comments */
  /* padding: 15px; */
  background: #f1f1f1;
  border-radius: 4px;
  width: 95%;
  margin-bottom: 20px;
  overflow: scroll;
}
.comments h1{
  font-size: 18px;
  width: 500px;
} 

.comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-content {
  width:auto;
  font-size: 14px;
  color: #333;
}

.comment-date {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}
