.post {
  margin-bottom: 3rem;
}

.greeting h1 {
  color: #1e1e1e;
  margin-top: 1rem;
  font-size: 16px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header img {
  width: 400px;
  height: 100px;
  object-fit: contain;
  border-radius: 30px;
}

.post-header h1 {
  font-size: 14px;
  font-weight: 700;
}

.post p {
  color: #4f4f4f;
  font-size: 14px;
}

.post-left-head {
  display: flex;
  justify-self: end;
}

.post-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.post-left h1,
.post-left h2,
.post-left h3 {
  font-size: 14px;
  font-weight: 400;
}

.posts h6 {
  font-size: 14px;
  margin-top: 1rem;
}
