.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin-left: 3%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .modal-header h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .modal-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-body {
    margin: 20px 0;
    font-size: 15px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: right;
    margin-right: 3%;
  }
  
  .modal-button {
    background-color: #204e51;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-button:hover {
    background-color: #173a3e;
  }
  