.left {
  position: relative;
  background-color: #c0f196;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left::before {
  content: "";
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-top: 120px;
}

.farmer {
  width: 500px;
  height: 280px;
  object-fit: contain;
  margin-top: 120px;
}
