@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  font-family: "Raleway", serif;
  /* cursor: pointer; */
}

.user-layout {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 4.2fr;
  gap: 3rem;
  overflow-x: scroll;
}

.user-logo img {
  width: 150px;
}

.user-icons {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.icon-group img {
  width: 22px;
}

.icon-group span {
  font-size: 16px;
  cursor: pointer;
}
.user-sidebar p {
  font-weight: 700;
}
.card {
  background-color: #c0f196;
  border-radius: 15px;
  padding: 0 20px 20px;
  width: 180px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  transform: translateY(-20px);
  padding: 8px;
}

.icon span {
  background-color: #c0f196;
  border-radius: 50%;
  padding: 2px 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #00563e;
  margin-bottom: 10px;
  font-weight: 600;
}

.description {
  font-size: 12px;
  color: #00563e;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.cta-button {
  background-color: #ffffff;
  color: #334c25;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000;
  margin: auto;
}

.profile-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-modal-header {
  margin: 0 0 0;
  font-size: 16px;
}

.profmodal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  font-weight: 500; 
}

.profile-section {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.profile-modal-picture {
  position: relative;
  display: inline-block;
}

.profile-pic-frame {
  margin-top: 8%;
  width: 72px;
  height: 80px;
  border-radius: 50%;
}

.profile-edit-pic-btn {
  position: absolute;
  bottom: 5px;
  right: 13px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.update-profile-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: auto;
  max-width: 390px;
  font-size: 13px;
}

.user-details {
  display: flex;
  text-align: left;
  width: 100%;
}

.user-details label {
  width: 130px;
  align-self: center;
}

.user-details input {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 8px;
  border: 0.5px solid #E0E0E0;
  padding: 10px;
  outline: 0;
  font-size: 13px;
  width: 65%;    
}

.password-group {
  display: flex;
  text-align: left;
  width: 100%;
}
/* .password-group label {
  display: flex;
  width: 130px;
  text-align: left;
  /* width: 29%; */
/* }  */

.profile-password-field {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 8px;
  border: 0.5px solid #E0E0E0;
  width: 71%;
}

.profile-password-field input {
  display: flex;
  padding: 10px;
  background-color: #F2F2F2;
  border: 0;
  border-radius: 8px;
  outline: 0;
  font-size: 13px;
  width: 85%;
}

.profile-password-field img {
  display: flex;
  width: 13px;
  cursor: pointer;
  padding-right: 10px;
}

.profile-submit-btn {
  margin-top: 2%;
  margin-left: auto;
}

