@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  font-family: "Raleway", serif;
  cursor: pointer;
}

.user-layout {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 4.2fr;
  gap: 3rem;
}

.user-logo img {
  width: 150px;
}

.user-icons {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.icon-group img {
  width: 22px;
}

.icon-group span {
  font-size: 16px;
}
.user-sidebar p {
  font-weight: 700;
}
.card {
  background-color: #c0f196;
  border-radius: 15px;
  padding: 0 20px 20px;
  width: 180px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  transform: translateY(-20px);
  padding: 8px;
}

.icon span {
  background-color: #c0f196;
  border-radius: 50%;
  padding: 2px 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #00563e;
  margin-bottom: 10px;
  font-weight: 600;
}

.description {
  font-size: 12px;
  color: #00563e;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.cta-button {
  background-color: #ffffff;
  color: #334c25;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
